<!---  <div [innerHtml]="htmlSchedule" class="form-schedule"></div  -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
   <script src="extensions/sticky-header/bootstrap-table-sticky-header.js"></script>

   <nav class="navbar navbar-expand-lg" >
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
         <span style="color: white">X</span>
      </button>
      <a class="navbar-brand" href="#">
         <img src="/assets/img/logo.png" class="d-inline-block nav-logo" alt="">
      </a>
      <div class="unicauca-titulo-nav">
         <h4 class="titulo">Universidad del Cauca</h4>
      </div>

      <div class="mb-1 collapse navbar-collapse " id="navbarTogglerDemo03">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item collapse-menu">
            <a class="nav-link" href="">Accerca de
               <span class="sr-only">(current)</span></a>
            </li>
         </ul>
      </div>
   </nav>

   <div class="container m-auto" *ngIf="invalid_token==false">

      <div class="subtitle-page mt-4">
         <h1 class="text-left subtitle-page-text pt-3 ml-3">Elección de horario Electivas | Profesor</h1>
      </div>

      <div class="schedule-main clearfix">

         <!-- Left electives -->
         <div class="sended-electives">
            <div class="list-elective mt-2">

               <div class="elective">
                  <div class="elective-content m-2">
                     <div class="elective-name">
                         {{elective.name}}
                     </div>
                     <div class="elective-code">
                        {{elective.idElective}}
                     </div>
                  </div>
               </div>

            </div>

         </div>
         <!-- Finish Left electives -->


         <div class="schedule">
            <div class="schedule-section"  >

              <app-schedule (messageEvent)="receiveSchedule($event)" [schedule]="schedule"></app-schedule>

         </div>

      </div>

</div>
</div>
      ​

   <div class="container" *ngIf="invalid_token">
     <h1>Link invalido, por favor contacte al administrador.</h1>
   </div>
