.responsiveTbl table {
 text-align: center;
 width: 100%;
}
#btn-add{
  content:normal;
}
.ud-item{
  display: inline;
  padding: inherit;
  width: auto;

}
.needLab-column{
    width: 150px;
    text-align: center;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float:right;
  }
thead {
  top: 0px;  /* trigger sticky when reaches coordonates */
  background-color: black;
}
/*slider*/
.toggle.ios, .toggle-on.ios, .toggle-off.ios {
  border-radius: 20px;
}
.toggle.ios .toggle-handle {
  border-radius: 20px;

}

@media screen and (max-width:768px) {
  #btn-add{
    content: none;
  }
  .ud-item{
    display: block;
    margin: 7px 0px;
    vertical-align:middle;
  }

  .needLab-column{
    display: none;
  }

  thead {
    position: sticky;
    top: 0px;  /* trigger sticky when reaches coordonates */
    background-color: black;
  }

  .machetazo{
    margin: center center;
    position: absolute;
    margin-top: -12px;
    margin-left: -7px;
  }
  .machetazo1{
    margin-top: 800x;
    margin: center center;
  }

}
