<div class="hourColumn" >
  <h3  class= "dayText">Hora</h3>
  <div class="contentHourText" *ngFor="let vblock of blocks">
    <h4  class="hourText"  height=20>{{vblock}}</h4>
  </div>

</div>

<div class="day" *ngFor="let vday of days; let i = index" >
    <h3  class= "dayText">{{vday}}</h3>
    <div *ngFor="let vblock of blocks; let j =index">
      <div [ngClass] = 'getBlockClass(i,j)' class="block" (click) = 'setSchedule(i,j) ' height=20></div>

    </div>

</div>
<div class="save-bottom mt-4">
   <button class="btn btn-lg btn-primary btn-block set-color" (click) = "save()" type="submit">Guardar</button>
</div>
