<h4 id="title-subform" class="dispaly-4">{{textActionForm()}} Electiva</h4>
<hr>
<form id="parent" #form="ngForm" autocomplete="off" (submit)="onSubmit()">
    <input type="hidden"  name="ElectiveItemID" #ElectiveItemID="ngModel" [(ngModel)]="elective._id">
    <input type="hidden"  name="ElectiveID" #ElectiveID="ngModel" [(ngModel)]="elective._id">
  <input type="hidden"  name="ItemName" #ItemName="ngModel" [(ngModel)]="elective.name">

  <div class="form-row">
    <div  class="inputDiv form-group col-md-8">
      <label>Id</label>
      <input name="Id" [(ngModel)]="elective.idElective" class="form-control" [class.is-invalid]="elective.idElective == '' ">
    </div>

    <div  id="idLab"  class="form-group  col-md-2">
      <label id ="labelLab" class="pull-left">Necesita Laboratorio?</label>
      <div id="labDiv" class="custom-control custom-switch">
        <input type="checkbox" [checked]="elective.needLab"  class="custom-control-input" id="needLabSwitch">
        <label class="custom-control-label" for="needLabSwitch"></label>
      </div>
    </div>
  </div>
  <div class="inputDiv form-group">
    <label>Nombre</label>
    <input name="Name" [(ngModel)]="elective.name" class="form-control"
     [class.is-invalid]="elective.name == '' ">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa"  [ngClass] = 'getIconClass()'></i> {{textActionForm()}}</button>

  </div>
</form>
