<!--
<div [innerHTML]="htmlSchedule" class=form-schedule ></div>
-->
<div class=day>
   <h3 class="dayText">Lunes</h3>
   <div class="block" (click) = 'setSchedule("Lunes","0")' height=20></div>
   <div class="block" (click) = 'setSchedule("Lunes","1")' height=20></div>
   <div class="block" (click) = 'setSchedule("Lunes","2")' height=20></div>
   <div class="block" (click) = 'setSchedule("Lunes","3")' height=20></div>
   <div class="block" (click) = 'setSchedule("Lunes","4")' height=20></div>
   <div class="block" (click) = 'setSchedule("Lunes","5")' height=20></div>
</div>
<div class=day>
   <h3 class="dayText">Martes</h3>
   <div class="block" (click) = 'setSchedule("Martes","0")' height=20></div>
   <div class="block" (click) = 'setSchedule("Martes","1")' height=20></div>
   <div class="block" (click) = 'setSchedule("Martes","2")' height=20></div>
   <div class="block" (click) = 'setSchedule("Martes","3")' height=20></div>
   <div class="block" (click) = 'setSchedule("Martes","4")' height=20></div>
   <div class="block" (click) = 'setSchedule("Martes","5")' height=20></div>
</div>
<div class=day>
   <h3 class="dayText">Miercoles</h3>
   <div class="block" (click) = 'setSchedule("Miercoles","0")' height=20></div>
   <div class="block" (click) = 'setSchedule("Miercoles","1")' height=20></div>
   <div class="block" (click) = 'setSchedule("Miercoles","2")' height=20></div>
   <div class="block" (click) = 'setSchedule("Miercoles","3")' height=20></div>
   <div class="block" (click) = 'setSchedule("Miercoles","4")' height=20></div>
   <div class="block" (click) = 'setSchedule("Miercoles","5")' height=20></div>
</div>
<div class=day>
   <h3 class="dayText">Jueves</h3>
   <div class="block" (click) = 'setSchedule("Jueves","0")' height=20></div>
   <div class="block" (click) = 'setSchedule("Jueves","1")' height=20></div>
   <div class="block" (click) = 'setSchedule("Jueves","2")' height=20></div>
   <div class="block" (click) = 'setSchedule("Jueves","3")' height=20></div>
   <div class="block" (click) = 'setSchedule("Jueves","4")' height=20></div>
   <div class="block" (click) = 'setSchedule("Jueves","5")' height=20></div>
</div>
<div class=day>
   <h3 class="dayText">Viernes</h3>
   <div class="block" (click) = 'setSchedule("Viernes","0")' height=20></div>
   <div class="block" (click) = 'setSchedule("Viernes","1")' height=20></div>
   <div class="block" (click) = 'setSchedule("Viernes","2")' height=20></div>
   <div class="block" (click) = 'setSchedule("Viernes","3")' height=20></div>
   <div class="block" (click) = 'setSchedule("Viernes","4")' height=20></div>
   <div class="block" (click) = 'setSchedule("Viernes","5")' height=20></div>
</div>
