<!---  <div [innerHtml]="htmlSchedule" class="form-schedule"></div  -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
   <script src="extensions/sticky-header/bootstrap-table-sticky-header.js"></script>

   <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
         <span style="color: white">X</span>
      </button>
      <a class="navbar-brand" href="#">
         <img src="/assets/img/logo.png" class="d-inline-block nav-logo" alt="">
      </a>
      <div class="unicauca-titulo-nav">
         <h4 class="titulo">Universidad del Cauca</h4>
      </div>

      <div class="mb-1 collapse navbar-collapse " id="navbarTogglerDemo03">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item collapse-menu">
            <a class="nav-link" href="">Accerca de
               <span class="sr-only">(current)</span></a>
            </li>
         </ul>
      </div>
   </nav>

   <div class="container m-auto">

      <div class="subtitle-page mt-4">
         <h1 class="text-left subtitle-page-text pt-3 ml-3">Elección de horario Electivas | Profesor</h1>
      </div>

      <div class="schedule-main clearfix">

         <!-- Left electives -->
         <div class="sended-electives">
            <div class="list-elective mt-2">

               <div class="elective">
                  <div class="elective-content m-2">
                     <div class="elective-name">
                        El nombre de la Electiva que puede ser asi
                     </div>
                     <div class="elective-code">
                        Unos nuemros
                     </div>
                  </div>
               </div>

               <div class="elective">
                  <div class="elective-content m-2">
                     <div class="elective-name">
                        El nombre de la Electiva que puede ser asi
                     </div>
                     <div class="elective-code">
                        Unos nuemros
                     </div>
                  </div>
               </div>

            </div>

         </div>
         <!-- Finish Left electives -->


         <div class="schedule">
            <div class="schedule-section"  >

               <div class="hourColumn" >
                 <h3  class= "dayText">Hora</h3>
                 <div class="contentHourText" *ngFor="let vblock of blocks">
                   <h4  class="hourText"  height=20>{{vblock}}</h4>
                 </div>

               </div>

               <div class="day" *ngFor="let vday of days; let i = index" >
                   <h3  class= "dayText">{{vday}}</h3>
                   <div *ngFor="let vblock of blocks; let j =index">
                     <div *ngIf="!vblock; then breakblock else workblock"> </div>
                       <ng-template #breakblock>
                           <div  class="block"  height=20></div>
                       </ng-template>
                       <ng-template #workblock>
                         <div [ngClass] = 'getBlockClass(i,j)' class="block" (click) = 'setSchedule(i,j) ' height=20></div>
                       </ng-template>

                   </div>
               </div>
               <div class="save-bottom mt-4">
                  <button class="btn btn-lg btn-primary btn-block set-color" (click) = "save()" type="submit">Guardar</button>
               </div>
         </div>

      </div>



      ​
   </div>
