<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Menu</title>

  <!-- Custom fonts for this theme -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  
</head>

<body id="page-top">

  <!-- Navigation 
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="mainNav">
    <div class="container">
      <img src="http://www.unicauca.edu.co/educoloquio/themes/educoloquio/img/escudo-blanco.png" width="40" height="60" alt="Start Bootstrap Logo">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Universidad del cauca </a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <button class="btn btn-lg btn-primary btn-block" (click) ="listarElectivas()" type="submit">Listar Electivas</button>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            
            <button class="btn btn-lg btn-primary btn-block" (click) = "logout()" type="submit">Cerrar sesion</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
-->

  <!--******************************************************************************************** -->

  <nav class="navbar navbar-expand-lg fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
         <span style="color: white">X</span>
      </button>
      <a class="navbar-brand" href="#">
         <img src="/assets/img/logo.png" class="d-inline-block nav-logo" alt="">
      </a>
      <div class="unicauca-titulo-nav">
         <h4 class="titulo">Universidad del Cauca</h4>
      </div>
      
      <div class="mb-1 collapse navbar-collapse " id="navbarTogglerDemo03">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item collapse-menu">
              <a class="nav-link">Inicio
                <span class="sr-only">(current)</span>
              </a>
            </li>   
            <li class="nav-item collapse-menu">
              <a class="nav-link" (click) = "listarElectivas()">Ver electivas
                <span class="sr-only"></span>
              </a>
            </li>  
            <li class="nav-item collapse-menu">
              <a class="nav-link" (click) = "logout()">Cerrar sesión
                <span class="sr-only"></span>
              </a>
            </li>   
         </ul>
      </div>
   </nav>

   <!--******************************************************************************************** -->




  <!-- <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <img src="http://www.unicauca.edu.co/educoloquio/themes/educoloquio/img/escudo-blanco.png" width="40" height="60" alt="Start Bootstrap Logo">
      <a class="navbar-brand" href="#">Universidad del Cauca</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" >
            <button type= "button" class="button">Menu</button>
          </li>
          <li class="nav-item">
            <button type= "button" class="button" (click) = "listarElectivas()">Listar electivas</button>
          </li>
          <li class="nav-item" >
            <button type= "button" class="button" >acerca de</button>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <button class="btn btn-outline-success my-2 my-sm-0" (click) = "logout()" type="submit">Cerrar Sesión</button>
        </form>
      </div>
    </nav>
  </header> -->
  
  <!--********************************************************************************************-->


  <!-- Cartas -->
  <div >
    <h1>Menu de Administrador</h1>
    <div class="tz-gallery">
      <div class="row">
        <!--1 y 3-->
        <div class="row col-md-6">
          <!--Primeras dos-->
          <div class="row col-sm-12">

              <div class="col-sm-12 col-md-6">
                  <div class="tarjeta">
                    <h5>Abrir periodo</h5>
                    <div class="description-function" >
                      <h6>Por medio del siguiente boton, el sistema abrira un periodo acedemico relativo a la fecha actual que contenga el 
                        servidor. Ademas, permitira a los docentes y los alumnos acceder al sistema, para que puedan elegir sus horarios.
                      </h6>
                    </div>
                    <div class="boton">
                      <button class="btn btn-outline-success my-2 my-sm-0" (click) = "abrirPeriodo()" type="submit">abrir periodo</button>
                    </div>
                  </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="tarjeta">
                  <h5>Cerrar periodo</h5>
                  <div class="description-function" >
                    <h6>Por medio del siguiente boton, el sistema cerrara un periodo acedemico relativo a la fecha actual que contenga el 
                        servidor. Ademas, no permitira a los docentes y los alumnos acceder al sistema, para finalizar la elección sus horarios</h6>
                  </div>
                  <div class="boton">
                    <button class="btn btn-outline-success my-2 my-sm-0" (click) = "cerrarPeriodo()" type="submit">Cerrar periodo</button>
                  </div>
                </div>
              </div>
          </div>

          <!--Tercero-->
          <div class="row col-md-12">

            <div class="tercero row tarjeta col-md-12">
              <div class="col-md-6">
                  <h5>Subir electivas</h5>
                  <div class="description-function" >
                    <h6>Por medio del siguiente botón, seleccione y cargue el archivo en el cual se encuentren especificadas
                      las electivas, sus docentes y los alumnos.
                    </h6>
                  </div>                  
              </div>
  
              <div class="custom-file col-md-6">
                <div class="botonArchivo">
                  <input type="file" class="custom-file-input" id="input-custom-file" (change)="onFileChange($event)">
                  <label class="custom-file-label" for="input-custom-file">Elige un archivo</label>
                </div>
                <div class="botonArchivo">
                  <button id="btnUpload" class="btn btn-outline-success my-2 my-sm-0" (click)="actualizarArchivo()" >Actualizar archivo</button>
                </div>
              </div>
            </div>

          </div>

        </div>

        <!--Segundo-->
        <div class="row col-md-3  ">
          <div class="tarjeta2">
            <h6 class="subtitle">Enviar correos profesores</h6>
            <div class="description-function">
              <h6>
                Por medio del siguiente boton se enviará un correo electronico a los docentes registrados
                leidos desde el archivo, que contiene un link de accceso a la aplicación donde pueden escoger
                sus horarios.
              </h6>
            </div>
            <div class="boton">
              <button class="btn btn-outline-success my-2 my-sm-0" (click) = "enviarCorreosProfesor" type="submit">Enviar correos</button>
            </div>
            <h6 class="subtitle">Enviar correos Estudiantes</h6>
            <div class="description-function">
              <h6>
                  Por medio del siguiente boton se enviará un correo electronico a los estudiantes registrados
                  leidos desde el archivo, que contiene un link de accceso a la aplicación donde pueden escoger
                  sus horarios.
              </h6>
            </div>
            <div class="boton">
              <button class="btn btn-outline-success my-2 my-sm-0" (click) = "enviarCorreosProfesor" type="submit">Enviar correos</button>
            </div>
          </div>
        </div>      

      </div>

    </div>

  </div>
  
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>

</body>

<footer>
  
</footer>

</html>