body {
  background-image: url(../../../../../../fondoSecretaria.jpg );
  background-size: 100vw 100vh;
  background-attachment: fixed;
  min-height: 100vh;
  font: normal 16px sans-serif;
  padding: 40px 0;

  display: flex;
}

.tarjeta{
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 15px -5px rgba(255,255,255,1);
  -moz-box-shadow: 0px 10px 15px -5px rgba(255,255,255,1);
  box-shadow: 0px 10px 15px -5px rgba(255,255,255,1);
}

.tarjeta2{
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 15px -5px rgba(0,255,255,1);
  -moz-box-shadow: 0px 10px 15px -5px rgba(0,255,255,1);
  box-shadow: 0px 10px 15px -5px rgba(0,255,255,1);
  height: 500px;
}

h1{
  text-align: center;
  text-shadow: 5px 5px 5px black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  margin-top: 15;
  font-size: 80px;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h5{
  text-align: center;
  color: white;
  margin: 0;
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h6{
  text-align: center;
  color: white;
  margin: 0;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.description-function{
  margin: 10% 10%;
}

.subtitle{
  font-size: 25px;
  margin-top: 10px;
}

.boton{
  text-align: center;
}

.botonArchivo{
  text-align: center;
  margin-top: 40px;
}

.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  padding: 30px 50px;
}

.gallery-container h1 {
  text-align: center;
  margin-top: 50px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 25px auto;
  font-size: 18px;
  color: #999;
}

.tz-gallery {
  padding: 0px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 2px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  opacity: 0;
  color: #fff;
  font-size: 26px;
  font-family: 'Glyphicons Halflings';
  content: '\e003';
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s;
}


.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(46, 132, 206, 0.7);
  content: '';
  transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media(max-width: 768px) {
  body {
      padding: 0;
  }
}

/********************************   FOOTER     ************************************/

.custom-file{
  margin-top: 20px;
}

.custom-file-label{
  width: 250px;
  margin-left: 50px;
}

.botonArchivo{
  margin-top: 10px;
}

.botonArchivoFile, .custom-file-label{
  margin-top: 0px;
  margin: auto;
  margin-left: 50px;
  width: 70%;
  max-width: 300px;
}

.button{
  margin: 5px;
  color: white;
  background-color: #35373a;
  border-color: #35373a;
}
