<div id="page-top">

  <nav class="navbar navbar-expand-lg fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="col-md-4lapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span style="color: white">X</span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="/assets/img/logo.png" class="d-inline-block nav-logo" alt="">
    </a>
    <div class="unicauca-titulo-nav">
      <h4 class="titulo">Universidad del Cauca</h4>
    </div>

    <div class="mb-1 collapse navbar-collapse " id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item collapse-menu">
          <a class="nav-link">Inicio
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item collapse-menu">
          <a class="nav-link" (click)="listarElectivas()">Ver electivas
            <span class="sr-only"></span>
          </a>
        </li>
        <li class="nav-item collapse-menu">
          <a class="nav-link" (click)="logout()">Cerrar sesión
            <span class="sr-only"></span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Cartas -->
    <h1 class="menu_admin"></h1>
    <div class="row container">

      <div class="col-3 tarjeta">
        <h5 class="subtitle">Ver electivas</h5>
        <div class="description-function">
          <p>En esta seccion se pueden visualizar, agregar, editar y eliminar las electivas del sistema.
          </p>
          <br/>
          <br/>
          <br/>

        </div>
        <div class="boton">
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="listarElectivas()" type="submit">Seleccionar horario</button>
        </div>
      </div>


        <div class="col-3 tarjeta">
          <h5 class="subtitle">Probar seleccionar horario estudiante</h5>
          <div class="description-function">
            <p>En esta seccion se simula la interfaz de eleccion de horario del las electivas del  estudiante.
            </p>
            <br/>

          </div>
          <div class="boton">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="simulateStudent()" type="submit">Seleccionar horario</button>
          </div>
        </div>


        <div class="col-3 tarjeta">
          <h5 class="subtitle">Abrir periodo</h5>
          <div class="description-function">
            <p>En esta seccion, se activara el sistema para que inicie el proceso de cuadre de horario de electivas.
            </p>
            <br/>
            <br/>

          </div>
          <div class="boton">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="abrirPeriodo()" type="submit">abrir periodo</button>
          </div>
        </div>

        <div class="col-3 tarjeta">
          <h5 class="subtitle">Cerrar periodo</h5>
          <div class="description-function">
            <p>En la siguiente seccion, el sistema cerrara un periodo acedemico relativo a la fecha actual que contenga el
              servidor. Ademas, no permitira a los docentes y los alumnos acceder al sistema, para finalizar la elección sus horarios</p>
              <br/>
          </div>
          <div class="boton">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="cerrarPeriodo()" type="submit">Cerrar periodo</button>
          </div>
        </div>


      <div class="col-3 tarjeta">
          <h5 class="subtitle">Subir electivas</h5>
          <div class="description-function">
            <p>En la siguiente seccion, seleccione y cargue el archivo en el cual se encuentren especificadas
              las electivas, sus docentes y los alumnos.
            </p>

          </div>

          <div class="custom-file ">
            <i className="fa fa-circle fa-stack-2x text-primary"></i>
            <i className= " fa fa-upload fa-stack-1x fa-inverse"></i>
          </div>
          <div class="boton">
            <button id="btnUpload" class="btn btn-outline-success my-2 my-sm-0" (click)="actualizarArchivo()">Actualizar archivo</button>
          </div>

      </div>




      <div class="col-3 tarjeta">
        <h5 class="subtitle">Enviar correos estudiantes</h5>
        <div class="description-function">
          <p>  En la siguiente seccion se enviará un correo electronico a los estudiantes registrados
            leidos desde el archivo, que contiene un link de accceso a la aplicación donde pueden escoger
            sus horarios.
          </p>
        </div>
        <div class="boton">
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="enviarCorreosEstudiantes()" type="submit">Enviar correos.</button>
        </div>
      </div>

      <div class="col-3 tarjeta">
        <h5 class="subtitle">Probar Link no valido de horario profesor</h5>
        <div class="description-function">
          <p>En esta seccion se simula el la interfaz con el mensaje de link no valido que aparece cuando se intenta acceder editar el horario de un profesor con un token caducado o no valido.
          </p>
          <br/>
          <br/>

        </div>
        <div class="boton">
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="simulateProfesor()" type="submit">Seleccionar horario</button>
        </div>
      </div>

      <div class="col-3 tarjeta">
        <h5 class="subtitle">Enviar correos profesores</h5>
        <div class="description-function">
          <p>En la siguiente seccion se enviará un correo electronico a los docentes registrados
          leidos desde el archivo, que contiene un link de accceso a la aplicación donde pueden escoger
          sus horarios.
          </p>
        </div>
        <div class="boton">
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="enviarCorreosProfesores()" type="submit">Enviar correos.</button>
        </div>
      </div>



    </div>
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

</div>
